<div class="home-container">
  <!-- Banner Hero -->
  <section class="hero">
    <div class="hero-overlay bg-secondary">
      <h1>Bienvenue sur Regionoix</h1>
      <p>Découvrez nos produits locaux et promotions exclusives !</p>
      <button class="btn-discover" (click)="goToShowcase()">Découvrir</button>
    </div>
  </section>

  <div class="bottom"></div>

  <!-- Nouveautés, Promotions & Best-sellers-->
  <section class="tabs-section">
    <div class="tabs">
      <button class="tab" [class.active]="activeTab === 'promotion'" (click)="activeTab = 'promotion'">
        En promotion
      </button>
      <button class="tab" [class.active]="activeTab === 'nouveaute'" (click)="activeTab = 'nouveaute'">
        Nouveautés
      </button>
      <button class="tab" [class.active]="activeTab === 'bestSellers'" (click)="activeTab = 'bestSellers'">
        Best-sellers
      </button>
    </div>

    <div class="products-grid">
      <ng-container *ngIf="activeTab === 'promotion'">
        <app-product-card-component *ngFor="let product of promotionalProducts" [id]="product.id" [name]="product.name"
          [image]="product.image ?? '/assets/default.png'" [discount]="product.discount?.percentage_off ?? null"
          [price]="product.price" (addToBasket)="addItem($event)">
        </app-product-card-component>
      </ng-container>

      <ng-container *ngIf="activeTab === 'nouveaute'">
        <app-product-card-component *ngFor="let product of newProducts" [id]="product.id" [name]="product.name"
          [image]="product.image ?? '/assets/default.png'" [discount]="product.discount?.percentage_off ?? null"
          [price]="product.price" (addToBasket)="addItem($event)">
        </app-product-card-component>
      </ng-container>

      <ng-container *ngIf="activeTab === 'bestSellers'">
        <app-product-card-component *ngFor="let product of bestProducts" [id]="product.id" [name]="product.name"
          [image]="product.image ?? '/assets/default.png'" [discount]="product.discount?.percentage_off ?? null"
          [price]="product.price" (addToBasket)="addItem($event)">
        </app-product-card-component>
      </ng-container>
    </div>
  </section>
</div>