<div class="topbar">
    <img class="logo" src={{pathLogo}}>
    <h1 class="title">{{ title }}</h1>
    <input class="search" type="text" [(ngModel)]="searchText" placeholder="Search...">
    <div class="topbar-actions">
        <button class="user-basket">
            <img src="assets/panier1.png">
            @if (basketCount != 0) {
                <span class="basket-count">{{basketCount}}</span>
            }
        </button>
        <button class="user-profile">
            @if (user) {
                <span> Zakaria </span>
            }
            @else {
                <span> Login </span>
            }
        </button>
    </div>
</div>