<div class="page-container">
    <!-- Sidebar + Produits -->
    <aside class="filters">
        <h3>Filtres</h3>
        <label class="price-filter">
            Prix :
            <div class="inputs">
                <input type="number" [(ngModel)]="minPrice" placeholder="Min" />
                <span> - </span>
                <input type="number" [(ngModel)]="maxPrice" placeholder="Max" />
            </div>
        </label>
        <label>
            Catégorie :
            <select [(ngModel)]="selectedCategory">
                <option value="">Toutes</option>
                <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
            </select>
        </label>

        <label>
            Région :
            <select [(ngModel)]="selectedRegion">
                <option value="">Toutes</option>
                <option *ngFor="let r of regions" [value]="r">{{ r }}</option>
            </select>
        </label>

        <label>
            Propriétés :
            <select [(ngModel)]="selectedTags">
                <option value="">Toutes</option>
                <option *ngFor="let t of tags" [value]="t">{{ t }}</option>
            </select>
        </label>
    </aside>

    <main class="product-grid">
        <app-product-card-component *ngFor="let product of filteredProducts" [id]="product.id" [name]="product.name"
            [image]="product.image" [price]="product.price" (addToBasket)="addItem($event)">
        </app-product-card-component>
    </main>
</div>