<div class="page-container">
    <!-- Sidebar + Produits -->
    <aside class="filters">
        <h3>Filtres</h3>
        <label class="price-filter">
            Prix :
            <div class="inputs">
                <input type="number" [(ngModel)]="minPrice" placeholder="Min" />
                <span> - </span>
                <input type="number" [(ngModel)]="maxPrice" placeholder="Max" />
            </div>
        </label>

        <fieldset class="availability">
            <legend>Disponibilité</legend>
            <label>
                <input type="checkbox" [(ngModel)]="filterAvailable" />
                En stock
            </label>
            <label>
                <input type="checkbox" [(ngModel)]="filterUnavailable" />
                Rupture
            </label>
        </fieldset>

        <!-- Catégories -->
        <fieldset class="availability">
            <legend>Catégories</legend>
            <label *ngFor="let c of categories">
                <input type="checkbox" [value]="c" (change)="toggleCategory(c, $event.target.checked)" />
                {{ c }}
            </label>
        </fieldset>

        <!-- Régions -->
        <fieldset class="availability">
            <legend>Régions</legend>
            <label *ngFor="let r of regions">
                <input type="checkbox" [value]="r" (change)="toggleRegion(r, $event.target.checked)" />
                {{ r }}
            </label>
        </fieldset>

        <!-- Propriétés -->
        <fieldset class="availability">
            <legend>Propriétés</legend>
            <label *ngFor="let t of tags">
                <input type="checkbox" [value]="t" (change)="toggleTag(t, $event.target.checked)" />
                {{ t }}
            </label>
        </fieldset>
    </aside>

    <main class="product-grid">
        <app-product-card-component *ngFor="let product of filteredProducts" [id]="product.id" [name]="product.name"
            [image]="product.image" [price]="product.price" (addToBasket)="addItem($event)">
        </app-product-card-component>
    </main>
</div>