<li class="list-row">
    <figure>
        <img [src]="image" alt="{{ title }}" />
    </figure>
    <div class="content">
        <div class="title">{{ title }}</div>

        <div class="info">
            <p class="price">{{ price }} €</p>
            <div class="details">
                <p class="quantity">x{{ quantity }}</p>
                <p class="subtotal">{{ price*quantity | number:'1.2-2' }}€</p>
            </div>
        </div>

        <div class="list-action">
            <button class="btn">Supprimer</button>
        </div>
    </div>
</li>