<li class="list-row">
    <figure>
        <img [src]="product.image" alt="{{ product.name }}" />
    </figure>
    <div class="content">
        <div class="name">{{ product.name }}</div>

        <div class="info">
            <p class="price"> @if(final_price && product.discount){
                {{ product.price | number : '1.2-2' }} €
                <span class="line-through text-gray-500 font-normal">{{final_price | number : '1.2-2' }} €</span>
                }@else{
                {{ product.price | number : '1.2-2' }} €
                }
            </p>
            <div class="details">
                <div class="qty-control">
                    <button class="qty-btn" id="decrease" (click)="decreaseQuantity()">-</button>
                    <span id="quantity"> {{ quantity }} </span>
                    <button class="qty-btn" id="increase" (click)="increaseQuantity()">+</button>
                </div>
                <p class="subtotal">{{ final_price ? final_price*quantity : product.price* quantity | number:'1.2-2' }}€
                </p>
            </div>
        </div>

        <div class="list-action">
            <button class="btn" (click)="onRemoveFromBasket()">Supprimer</button>
        </div>
    </div>
</li>