<li class="list-row">
    <figure>
        <img [src]="image" alt="{{ name }}" appDefaultImage />
    </figure>
    <div class="content">
        <div class="name">{{ name }}</div>

        <div class="info">
            <p class="price">{{ price }} €</p>
            <div class="details">
                <div class="qty-control">
                    <button class="qty-btn" id="decrease">-</button>
                    <span id="quantity"> {{ quantity }} </span>
                    <button class="qty-btn" id="increase">+</button>
                </div>
                <p class="subtotal">{{ price*quantity | number:'1.2-2' }}€</p>
            </div>
        </div>

        <div class="list-action">
            <button class="btn" (click)="onRemoveFromBasket()">Supprimer</button>
        </div>
    </div>
</li>