/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

:root {
    --background-auvergne-rhone-alpes: #0094dd;

    --color-bg: #ffffff;
    --color-surface: #f1ccb4;
    --color-text: #111827;
    --color-text-muted: #7380a6;

    --color-accent: #f0c19e;
    --color-accent-dark: #cf7225;

    --color-primary: #3066be;
    --color-primary-hover: #6fa4d2;
    --color-primary-light: #8ec3dc;
    --color-primary-pale: #ade1e5;

    --color-secondary: #b5998e;

    background-color: var(--color-bg);
}

body {
    margin: 0;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}